:root{
    --s: calc( 1vh + 1vw);
}

.schedule{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
        
    border: 1vw double darkorchid;
    margin-left: 2vw;
    margin-right: 2vw;
    
}
.controw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dayoftheweek{
    align-items: center;
    border: 0.2vw solid darkorchid;
    display: flex;
    flex-direction: column;
}
.lessons{
    display: flex;
    flex-direction: column;
    font-size: calc(var(--s)*1.5);
}

.daysoftheweek{
    border: 0.2vw solid darkorchid;
     width: 25.3vw;
  
}
.lessons{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: calc(var(--s));
}

.mon, .tue{
    width: 17vw;
}

.sun{
    width: 16.6vw;
}



